@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.edit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-form {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 16px;
  min-width: 300px;
  align-items: center;
  justify-content: center;
}

.edit-form-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.edit-form-input {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
  background-color: #f2f5f3;
  width: 200px;
  height: 30px;
  border-radius: 0px;
  font-size: 16px;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
